<% if (teachersView) { %>
    <% if (duplicate) { %>
        <div class="toast-container top-0 end-0 p-3">
            <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <svg class="bd-placeholder-img rounded me-2" width="20" height="20"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <rect width="100%" height="100%" fill="#007aff"></rect>
                    </svg>
                    <strong class="me-auto">Duplicate Records error</strong>
                    <small class="text-body-secondary">just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Roll No. Already Exist in Database!
                </div>
            </div>
        </div>
        <% duplicate=false %>
            <% } %>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Student Records</li>
                    </ol>
                </nav>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 morder-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md 0">
                        <div class="btn-group me-2">
                            <a class="btn btn-sm btn-outline-primary" href="/add" role="button">Add Student</a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col"> Roll No</th>
                                <th scope="col"> Student Name</th>
                                <th scope="col"> DOB </th>
                                <th scope="col"> Score</th>
                                <th scope="col" class="text-end"> Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% students.forEach(element=> { %>
                                <tr class="align-middle">
                                    <td>
                                        <%= element.RollNo %>
                                    </td>
                                    <td>
                                        <%= element.Name %>
                                    </td>
                                    <td>
                                        <%= element.DOB.getDate() %>/<%= element.DOB.getMonth()+1 %>/<%=
                                                    element.DOB.getFullYear() %>
                                    </td>
                                    <td>
                                        <%= element.Score %>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-row justify-content-end gat-2">
                                            <a href="/view/<%= element._id %>" type="button"
                                                class="btn btn-primary btn-small" style="margin-right: 8px;">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                            <a href="/edit/<%= element._id %>" type="button"
                                                class="btn btn-warning btn-small" style="margin-right: 8px;">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            <form action="/edit/<%= element._id %>?_method=DELETE" method="post"
                                                class="position-relative">
                                                <button type="submit" class="btn btn-danger btn-small"
                                                    style="margin-right: 8px;">
                                                    <i class="bi bi-person-x"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>

                <% if (students.length>0) { %>
                    <nav aria-label="Dashboard Pagination">
                        <ul class="pagination justify-content-center mt-5">

                            <% if (current==1) { %>
                                <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
                                <% } else { %>
                                    <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
                                    <% } %>

                                        <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %>
                                            <% if(i !==1) { %>
                                                <li class="page-item disabled"><a href="#" class="page-link">...</a>
                                                </li>
                                                <% } %>

                                                    <% for(; i <=(Number(current) + 4) && i <=pages; i++ ) { %>
                                                        <% if (i==current) { %>
                                                            <li class="page-item disabled"><a href="#"
                                                                    class="page-link">
                                                                    <%= i %>
                                                                </a></li>
                                                            <% } else { %>
                                                                <li class="page-item"><a href="?page=<%= i %>"
                                                                        class="page-link">
                                                                        <%= i %>
                                                                    </a></li>
                                                                <% } %>
                                                                    <% if (i==Number(current) + 4 && i < pages) { %>
                                                                        <li class="page-item disabled"><a href="#"
                                                                                class="page-link">...</a></li>
                                                                        <% } %>
                                                                            <% } %>

                                                                                <% if (current==pages) { %>
                                                                                    <li class="page-item disabled"><a
                                                                                            href="#"
                                                                                            class="page-link">Last</a>
                                                                                    </li>
                                                                                    <% } else { %>
                                                                                        <li class="page-item"><a
                                                                                                href="?page=<%= pages %>"
                                                                                                class="page-link">Last</a>
                                                                                        </li>
                                                                                        <% } %>

                        </ul>
                    </nav>
                    <% } %>
                        <% } %>
                            <% if (!teachersView) { %>
                                <h1>You are not logged in</h1>
                                <h2>Please Login first to view students database</h2>
                                <div class="toast-container top-0 end-0 p-3">
                                    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <svg class="bd-placeholder-img rounded me-2" width="20" height="20"
                                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                                <rect width="100%" height="100%" fill="#007aff"></rect>
                                            </svg>
                                            <strong class="me-auto">Unauthorized access</strong>
                                            <small class="text-body-secondary">just now</small>
                                            <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="toast-body">
                                            Please login First to continue. <a href="/teacher">login</a>
                                        </div>
                                    </div>
                                </div>
                                <% } %>